<div class="container">
  <app-toolbar class="toolbar">
    <button mat-icon-button class="backButton" (click)="navigateToMenu()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="center">
      <button mat-icon-button (click)="undo()" [disabled]="isFinished || !undoRedoStack.canUndo()">
        <mat-icon>undo</mat-icon>
      </button>
      <div class="stopwatch notranslate">{{ stopwatch.totalMilliseconds | stopwatch }}</div>
      <button mat-icon-button (click)="redo()" [disabled]="isFinished || !undoRedoStack.canRedo()">
        <mat-icon>redo</mat-icon>
      </button>
    </div>
    <button mat-icon-button class="settingButton" onclick="this.blur()" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="moreButton">
      <mat-icon>more_vert</mat-icon>
    </button>
  </app-toolbar>
  <div *ngIf="sudokuState !== null" class="content">
    <app-keep-aspect-ratio>
      <app-board-canvas [board]="sudokuState.board" [selectedPosition]="sudokuState.selectedPosition"
        [options]="options" [theme]="theme" (selectedPositionChange)="selectCell($event)"></app-board-canvas>
    </app-keep-aspect-ratio>
    <div [ngClass]="{hiddenDigitPad: isFinished}">
      <app-digit-pad [board]="sudokuState.board" [selectedPosition]="sudokuState.selectedPosition" [options]="options"
        [forceNoteIfEmpty]="forceNoteIfEmpty" (digitClicked)="placeNumber($event)"
        (toogleNotesClicked)="toogleNotesMode()" (autoFillNotesClicked)="autoFillNotes()"
        (clearCellClicked)="clearCell()">
      </app-digit-pad>
    </div>
  </div>
</div>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="reset()">Reset</button>
</mat-menu>
