.container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.toolbar {
  > .backButton {
    position: absolute;
    left: 8px;
  }

  > .center {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    button[disabled] {
      color: var(--selectedAreaBackgroundColor);
    }
  }
  > .settingButton {
    position: absolute;
    right: 48px;
  }
  > .moreButton {
    position: absolute;
    right: 8px;
  }
}

.stopwatch {
  display: flex;
  align-items: center;
  font-size: 2em;
  line-height: 1em;
}

.content {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 8px 8px;
}

.hiddenDigitPad {
  display: none;
}

@media all and (orientation: landscape) {
  .content {
    grid-template-columns: 1fr auto;
  }
}
