<h2 mat-dialog-title>Congratulations!</h2>
<div mat-dialog-content>You have won!</div>
<div mat-dialog-actions class="actionsWrapper">
  <button mat-button [mat-dialog-close]="null">Ok</button>
</div>
