<app-height-dependent-font-size [factor]="1/3" [parentHeightOffset]="-5">
  <div class="container notranslate">
    <button mat-raised-button *ngFor="let _ of [].constructor(9);let i = index;"
      [disabled]="selectedCell === null || isSelectedLocked" [ngClass]="{exhaustedDigit: usedDigits.mask.getAtIndex(i) === 9,
        overExhaustedDigit: usedDigits.mask.getAtIndex(i) > 9,
        digitAvailable: options.highlightAvailableDigits && digitAvailability.mask.getAtIndex(i)}"
      (click)="digitClicked.emit(i + 1)">
      <span class="digit">{{i + 1}}</span>
      <span class="usedDigits">
        {{usedDigits.mask.getAtIndex(i)}}
      </span>
    </button>

    <button mat-raised-button [disabled]="selectedCell === null || isSelectedLocked"
      [ngClass]="{forceNoteIfEmpty: forceNoteIfEmpty}" (click)="toogleNotesClicked.emit()">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-raised-button [disabled]="selectedCell === null || isSelectedLocked"
      (click)="autoFillNotesClicked.emit()">
      <mat-icon svgIcon="edit" class="material-icons"></mat-icon>
    </button>
    <button mat-raised-button [disabled]="selectedCell === null || isSelectedLocked" (click)="clearCellClicked.emit()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</app-height-dependent-font-size>
