.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 50px;
  gap: 5px;

  button {
    padding: 0;
    min-width: auto;
    font-size: 1em;
    line-height: 1em;
    color: var(--defaultFontColor);
    background-color: var(--defaultBackgroundColor);
    box-shadow: none;

    &.digitAvailable:not([disabled]),
    &.forceNoteIfEmpty:not([disabled]) {
      background-color: var(--defaultFontColor);
      color: var(--defaultBackgroundColor);
    }
  }
}

.usedDigits {
  display: block;

  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 0.5em;
  line-height: 1em;
}

.exhaustedDigit {
  border: 0.1em solid #8bc34a;
}

.overExhaustedDigit {
  border: 0.1em solid #f44336;
}

@media all and (orientation: landscape) {
  :host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .container {
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(4, 1fr);
    height: 200px;
    font-size: 30px; // ignore font-size from app-height-dependent-font-size
  }
}
