<div class="container">
  <app-toolbar class="toolbar">
    <button mat-icon-button class="backButton" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button class="settingButton" onclick="this.blur()" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </app-toolbar>
  <div class="content">
    <div class="buttonContainer">
      <button mat-raised-button [routerLink]="['/packSelection/easy']">Easy</button>
      <button mat-raised-button [routerLink]="['/packSelection/normal']">Normal</button>
      <button mat-raised-button [routerLink]="['/packSelection/hard']">Hard</button>
      <button mat-raised-button [routerLink]="['/packSelection/insane']">Insane</button>
      <button mat-raised-button (click)="generateLevel()">Generator</button>
    </div>
  </div>
</div>
