<div class="container">
  <app-toolbar class="toolbar">
    <button mat-icon-button class="backButton" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button class="settingButton" onclick="this.blur()" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </app-toolbar>
  <div class="content">
    <mat-list>
      <mat-list-item *ngFor="let level of levels;let i = index;" (click)="selectLevel(level)" class="listItem"> Level
        {{i + 1 | number:'2.0-0'}}
        <div *ngIf="level.currentState !== undefined && level.currentState !== null" class="progress">
          <mat-progress-bar *ngIf="level.solvedPercent !== 100" mode="determinate" [value]="level.solvedPercent">
          </mat-progress-bar>
          {{level.elapsedTime | stopwatch}}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
