<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Theme</mat-label>
      <mat-select formControlName="selectedThemeIndex" panelClass="selected-theme-panel">
        <mat-option *ngFor="let theme of themes;let i = index;" [value]="i">{{theme.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle class="slide" formControlName="highlightSolutionMistake">Highlight solution mistake
    </mat-slide-toggle>
    <mat-slide-toggle class="slide" formControlName="highlightDuplicateMistake">Highlight duplicate mistake
    </mat-slide-toggle>
    <mat-slide-toggle class="slide" formControlName="highlightAvailableDigits">Highlight available digits
    </mat-slide-toggle>
    <mat-slide-toggle class="slide" formControlName="highlightSelectedValues">Highlight selected values
    </mat-slide-toggle>
    <mat-slide-toggle class="slide" formControlName="highlightSelectedArea">Highlight selected area
    </mat-slide-toggle>
    <mat-slide-toggle class="slide" formControlName="shouldRemoveNotesFromSelectedCellArea">Remove notes from
      selected
      cell area
    </mat-slide-toggle>
  </form>
</div>
<div mat-dialog-actions class="actionsWrapper">
  <button mat-button [mat-dialog-close]="null">Close</button>
</div>
