.slide {
  margin: 8px 0;
  display: block;
}
:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar,
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: var(--thickLineColor) !important;
}
:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,
:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--defaultFontColor) !important;
}

:host,
:host ::ng-deep .mat-select-value,
:host ::ng-deep .mat-select-arrow,
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: var(--thickLineColor) !important;
}

:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow,
:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--defaultFontColor) !important;
}

.actionsWrapper {
  justify-content: flex-end;
}
