<div class="container">
  <app-toolbar class="toolbar">
    <button mat-icon-button class="backButton" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button class="settingButton" onclick="this.blur()" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </app-toolbar>
  <div class="content">
    <mat-list>
      <mat-list-item *ngFor="let pack of packs;let i = index;" (click)="goToPack(pack.id)" class="listItem"> Pack
        {{i + 1 | number:'2.0-0'}}
        <div *ngIf="pack.elapsedTime !== 0" class="progress">
          <mat-progress-bar *ngIf="pack.solvedPercent !== 100" mode="determinate" [value]="pack.solvedPercent">
          </mat-progress-bar>
          {{pack.elapsedTime | stopwatch}}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
