.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.toolbar {
  > .backButton {
    position: absolute;
    left: 8px;
  }

  > .settingButton {
    position: absolute;
    right: 8px;
  }
}

.content {
  overflow: auto;
}

.listItem {
  color: var(--defaultFontColor);
}

.progress {
  position: absolute;
  right: 16px;
  width: 100px;
  text-align: center;
}

:host ::ng-deep .mat-progress-bar-buffer {
  background-color: var(--thickLineColor);
}

:host ::ng-deep .mat-progress-bar-fill::after {
  background-color: var(--defaultFontColor);
}
