/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  overscroll-behavior-y: none;
  background-color: var(--defaultBackgroundColor);
}

.dialog-background .mat-dialog-container {
  background-color: var(--defaultBackgroundColor);
}

.selected-theme-panel.mat-select-panel {
  background-color: var(--defaultBackgroundColor) !important;
}

.selected-theme-panel .mat-option {
  color: var(--thickLineColor) !important;
}

.selected-theme-panel .mat-option.mat-selected {
  color: var(--defaultFontColor) !important;
}

.mat-menu-panel {
  background-color: var(--defaultBackgroundColor);
}
.mat-menu-item {
  color: var(--defaultFontColor);
}
