<div class="container">
  <app-toolbar class="toolbar">
    <h1>Sudoku</h1>
    <button mat-icon-button class="settingButton" onclick="this.blur()" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </app-toolbar>
  <div class="content">
    <div class="buttonContainer">
      <button mat-raised-button (click)="newGame()">New game</button>
      <button *ngIf="currentLevel !== null" mat-raised-button (click)="resume()">Resume</button>
    </div>
  </div>
</div>
