.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.toolbar {
  h1 {
    margin: 0;
  }

  > .settingButton {
    position: absolute;
    right: 8px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    color: var(--defaultFontColor);
    background-color: var(--defaultBackgroundColor);
    box-shadow: none;
  }
}

.buttonContainer {
  display: grid;
  row-gap: 10px;
}
